/* summary.module.css */

.pageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.floatingContainer {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  padding: 50px;
  width: 1600px;
  height: 700px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  z-index: 1;
}

/* Header / Title */
.headerRow {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
}

.winnerRow {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 10px;
}

.winnerTitle {
  font-size: 28px;
  font-weight: 600;
  align-items: center;
  color: #4B957A;
}


.pageNavNext,
.pageNavPrev {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s;
  font-size: 18px;
  font-weight: 400;
}

.pageNavNext:hover {
  transform: translateX(5px);
}

.pageNavPrev:hover {
  transform: translateX(-5px);
}
.pageNavNext img,
.pageNavPrev img {
  width: 30px;
}

/* Main card area: two columns */
.pagesContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: calc(100% - 170px); /* subtract header + nav + button spacing */
  gap: 20px;
}

.pageLeft,
.pageRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  gap: 20px;
  overflow-y: auto;
}

/* Section titles */
.pageLeft h2,
.pageRight h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
}

/* “Retour au menu” button */
.backButton {
  padding: 1rem;
  width: 100%;

  
}

