.carnetGreenITPage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.carnetGreenITContainer {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  padding: 50px;
  max-width: 1300px;
  max-height: 800px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  z-index: 1;
}

.containerHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
}

.returnToPreviousPage {
  display: flex;
  align-items: center;
  justify-content: left;
  transition: all .2s;
}

.returnToPreviousPage span {
  font-size: 14px;
}

.returnToPreviousPage img {
  width: 20px;
}

.returnToPreviousPage:hover {
  cursor: pointer;
  transform: translateX(-5px);
}

.returnToPreviousPage:active {
  cursor: pointer;
  transform: translateX(-20px);
}

.titlePageSwitch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.goToNextPage, .goToPreviousPage {
  display: flex;
  align-items: center;
  justify-content: right;
  transition: all .2s;
}

.goToNextPage span, .goToPreviousPage span {
  font-size: 18px;
  font-weight: 600;
}

.goToNextPage img, .goToPreviousPage img {
  width: 30px;
}

.goToNextPage:hover {
  cursor: pointer;
  transform: translateX(5px);
}

.goToNextPage:active {
  cursor: pointer;
  transform: translateX(20px);
}

.goToPreviousPage:hover {
  cursor: pointer;
  transform: translateX(-5px);
}

.goToPreviousPage:active {
  cursor: pointer;
  transform: translateX(-20px);
}

.pagesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.pagesContainer .pageLeft {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 100%;
  gap: 20px;
}

.pagesContainer .pageRight {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 100%;
  gap: 20px;
}

.exportButton {
  margin-top: 20px;
}