.playerTable {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 2;
}

.playerHand {
    position: absolute;
    bottom: 10px;
    left: 55%;
    transform: translateX(-50%);
}

.discardArea {
    position: absolute !important;
    bottom: 10px;
    left: calc(10px + 360px + 30px);
}

.historyDeck {
    position: absolute !important;
    bottom: 10px;
    right: calc(10px + 150px + 30px);
}