.createGameContainer {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  padding: 50px;
  width: 500px;
  height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: left;
  flex-direction: column;
  z-index: 1;
}

.containerHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
}

.returnToPreviousPage {
  display: flex;
  align-items: center;
  justify-content: left;
  transition: all .2s;
}

.returnToPreviousPage span {
  font-size: 14px;
}

.returnToPreviousPage img {
  width: 20px;
}

.returnToPreviousPage:hover {
  cursor: pointer;
  transform: translateX(-5px);
}

.returnToPreviousPage:active {
  cursor: pointer;
  transform: translateX(-20px);
}

.co2ScaleContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.co2ScaleContainer p span{
  color: var(--primary);
  font-weight: 600;
}

.scaler {
  margin-top: 10px;
  margin-bottom: 5px;
  -webkit-appearance: none;     
  padding: 0;               
  font: inherit;                
  outline: none;
  color: var(--primary);
  opacity: .8;
  background: #fff;
  border: 1px solid var(--primary);
  transition: opacity .2s;
  cursor: pointer;
  height: 10px;
}

/* Curseur (Chrome, Safari, Edge) */
.scaler::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: var(--primary); /* Couleur du curseur */
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
  border: 2px solid white;
}

/* Effet au survol */
.scaler::-webkit-slider-thumb:hover {
  background: var(--secondary); /* Couleur au survol */
}

/* Curseur pour Firefox */
.scaler::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: var(--primary);
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid white;
  transition: 0.2s;
}

/* Effet au survol (Firefox) */
.scaler::-moz-range-thumb:hover {
  background: var(--secondary);
}

.inputContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.error {
  color: #E75555;
  font-size: 12px;
  margin-top: 2px;
  padding-left: 2px;
}

.errorInput {
  border: 1px solid #E75555;
}