.rulesPage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.bgImage {
  position: absolute;
  top: 90px;
  left: 0;
  width: 100%;
  height: calc(100vh - 90px);
  object-fit: cover;
  overflow: hidden;
}

.rulesContainer {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  padding: 50px;
  width: 1600px;
  height: 720px;
  display: flex;
  justify-content: space-between;
  align-items: left;
  flex-direction: column;
  z-index: 1;
}

.containerHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
}

.returnToPreviousPage {
  display: flex;
  align-items: center;
  justify-content: left;
  transition: all .2s;
}

.returnToPreviousPage span {
  font-size: 14px;
}

.returnToPreviousPage img {
  width: 20px;
}

.returnToPreviousPage:hover {
  cursor: pointer;
  transform: translateX(-5px);
}

.returnToPreviousPage:active {
  cursor: pointer;
  transform: translateX(-20px);
}

.rules {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  overflow-y: auto;
  gap: 20px;
  padding: 0 20px;
}

.leftSide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 25%;
  height: 100%;
}

.rightSide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  height: 100%;
}

.rulesText {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  padding: 10px 0;
}

.rulesTextTitle {
  font-weight: 500;
  color: var(--primary);
}

.cardCaptionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
}

.cardCaptionContainer img {
  width: 100%;
  margin-right: 10px;
}

.cardContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 30px 50px;
}

.cardContainer .card {
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  border-radius: 22px;
  overflow: hidden;
  margin: 10px;
}