body {
    user-select: none; 
}
  
.page {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

.playArea {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.cardDeck {
    position: absolute !important;
    bottom: 40px;
    right: 80px;
    z-index: 5;
}

.turnInfo {
    font-size: 30px;
    font-weight: bold;
    color: var(--primary);
    padding: 10px 20px 10px 20px;
}

.turnInfoName {
    color: var(--tetiary);
}