.cardContainer {
  position: relative;
}

.card {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    width: 300px;
    aspect-ratio: 1.5 / 2.5;
    border-radius: 20px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    transform-origin: top left;
  }

  .card svg,
  .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .cardBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
  }
  
  /* Header styles */
  .header {
    padding: 20px 15px 0 15px;
    color: white;
  }
  
  .headerOverlay {
    position: absolute;
    top: 0;
    left: -50px;
    width: 200%;
    height: 100%;
    background-color: rgba(35, 35, 35, 0.6);
    border-radius: 25px;;
  }
  
  .headerContent {
    display: flex;
    gap: 10px;
    text-align: right;
  }
  
  .headerIcon {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }

  .headerIcon span,
  .headerIcon img {
    width: 70%;
    height: 70%;
  }
  
  .headerText {
    margin: auto 0 auto 0;
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    height: auto;
  }
  
  .title {
    font-size: 20px;
    font-weight: bold;
  }
  
  .subtitle {
    
    font-size: 15px;
    opacity: 0.8;
  }

  .headerTextContent {
    z-index: 2;
    padding: 5px 0 5px 0;
  }
  
  /* Body styles */
  .body {
    flex: 1;
    padding: 12px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: justify;
  }
  
  .table {
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
  }
  
  .tableTitle {
    background-color: rgba(35, 35, 35, 0.6);
    color: white;
    padding: 8px;
    font-size: 13px;
    font-weight: bold;
  }
  
  .tableContent {
    padding: 10px;
    background: rgba(217, 217, 217, 0.6);
    color: black;
    font-size: 11px;
  }

  .tableContent p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 13; /* number of lines to show */
            line-clamp: 13; 
    -webkit-box-orient: vertical;
  }
  
  /* Footer styles */
  .footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .footerItem {
    flex: 1;
    text-align: center;
    padding: 8px 5px 8px 5px;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .footerItem.gainsTypes {
    flex-shrink: 2;
  }

  .footerItem.gainsTypesOneIcon {
    flex-shrink: unset;
  }
  
  .footerIcon {
    width: 28px;
    height: 28px;
    margin: 0 auto;
  }

  .footerIcons {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  
  .footerLabel {
    font-size: 10px;
    color: var(--black);
  }