.viewCardsPage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.bgImage {
  position: absolute;
  top: 90px;
  left: 0;
  width: 100%;
  height: calc(100vh - 90px);
  object-fit: cover;
  overflow: hidden;
}

.viewCardsContainer {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  padding: 50px;
  width: 1600px;
  height: 740px;
  display: flex;
  justify-content: space-between;
  align-items: left;
  flex-direction: column;
  z-index: 1;
}

.containerHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
}

.returnToPreviousPage {
  display: flex;
  align-items: center;
  justify-content: left;
  transition: all .2s;
}

.returnToPreviousPage span {
  font-size: 14px;
}

.returnToPreviousPage img {
  width: 20px;
}

.returnToPreviousPage:hover {
  cursor: pointer;
  transform: translateX(-5px);
}

.returnToPreviousPage:active {
  cursor: pointer;
  transform: translateX(-20px);
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: scroll;
}

.cardWrapper {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  border-radius: 22px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
}


.navigationButtons {
  display: flex;
  justify-content: center;
  margin-top: 160px;
}

.navigationButtons img {
  width: 50px;
  height: auto;
  margin: 0 10px;
  cursor: pointer;
}

.navigationButtons img:hover:not(.disabled) {
  opacity: 0.5; 
}

.navigationButtons img.disabled {
  opacity: 0.1; 
  cursor: default;
}

.prevButton {
  transform: rotate(180deg); 
}

.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 65px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  z-index: 10;
}

.modalContent {
  display: flex;
  justify-content: end;
  align-items: end;
  flex-direction: column;
}

.closeButton {
  transform: translate(-40%, 140%);
  border: none;
  padding: 0;
  cursor: pointer;
  z-index: 5;
}

.closeButton img {
  width: 20px;
}

.closeButton:hover img {
  opacity: 0.4;
}

.bigCard {
  transform: scale(2.5);

}
