.languageButton {
    background-color:  var(--background);
    color: var(--black);
    border: 1px solid var(--secondary);
    min-width: 50px;
    font-size: 0.875rem;
    transition: all 0.2s;
}

.languageButton:hover {
    border: 1px solid var(--primary);
    scale: 1.1;
}

.dropContainer {
    position: absolute;
    width: 150px;
    top: 100%;
    left: 0;
    background-color: var(--white);
    border: 1px solid #ccc;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    z-index: 1000;
}

.dropItem {
    padding: 10px 16px;
    cursor: pointer;
    font-size: 0.875rem;
}

.dropItem:hover {
    background-color: rgba(0,0,0,0.05);
}